.description-container {
  padding: 150px 15px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../photos/about/about-bg.png) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-title {
  width: 1145px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 108px;
  text-align: center;
  margin-bottom: 80px;
}

.description-first-text {
  width: 1145px;
  color: #ffffff;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.description-second-text {
  width: 1145px;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.benefits {
  background-color: #faab34;
  padding: 150px 0 100px 0;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.benefits-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-img {
  position: absolute;
  top: -250px;
}

.benefits-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 29px;
}

.benefits-description {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

.discount {
  padding: 160px 0 280px 0;
  background: radial-gradient(
    circle,
    #68b370 0%,
    #069815 50%,
    rgba(1, 126, 13, 1) 100%
  );
}

.discount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount-title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 92px;
  line-height: 100%;
  text-align: right;
  color: #ffffff;
  margin-bottom: 16px;
}

.discount-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  width: 740px;
  margin-bottom: 100px;
}

.discount-link-wrap {
  display: flex;
  gap: 30px;
}
