/* font-family: "Roboto", sans-serif; */
/* font-family: "Inter", sans-serif; */

body {
  background-color: #e3e8e4;
}

.header {
  background: radial-gradient(
    circle,
    #68b370 0%,
    #069815 50%,
    rgba(1, 126, 13, 1) 100%
  );
  padding-top: 50px;
  height: 1077px;
}

.header-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 29px;
}

.header-nav-link {
  font-family: "Roboto", sans-serif;
  color: #c8bfbf;
  font-weight: 700;
  font-size: 28px;
}

.header-download-btn {
  font-family: "Roboto", sans-serif;
  color: #faab34;
  padding: 16px 36px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 30px;
}

.header-download-btn:hover {
  cursor: pointer;
}

.active {
  color: #ffffff;
}

.header-main-wrap {
  display: flex;
  padding-top: 74px;
  align-items: center;
  margin-top: -200px;
}

.header-price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}

.header-title {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 135px;
  line-height: 108px;
}

.promo-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 66px;
}

.header-promo {
  display: flex;
  margin-top: 36px;
}

.promo-bage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 28px;
  background-color: #faab34;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 100px;
  border-radius: 50%;
}

.promo-text {
  font-size: 32px;
}

.promo-description {
  position: relative;
  margin-left: 18px;
  top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 47px;
}

.hero-btn {
  padding: 22px 40px;
  background-color: #ffffff;
  border-radius: 50px;
  color: #faab34;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  position: static;
  margin: 0;
}

.offers-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  min-height: 1370px;
}

.offer-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding-bottom: 60px;
  padding-left: 30px;
}

.offer-card-first {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../photos/homepage/offers-bg-one.png) center / cover no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.offer-card-second {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../photos/homepage/offers-bg-two.png) center / cover no-repeat;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 86px;
}

.offer-card-third {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../photos/homepage/offers-bg-three.png) center / cover no-repeat;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.offer-bage {
  position: absolute;
  top: -40px;
  left: 40px;
  width: 218px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #69bf75;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 71px;
}

.offer-card-first .offer-bage {
  background-color: #ffffff;
  color: #000;
}

.offer-card-second .offer-bage {
  background-color: #faab34;
  color: #ffffff;
}

.offer-card-third .offer-bage {
  background-color: #017e0d;
  color: #ffffff;
}

.offer-text {
  font-size: 72px;
  line-height: 1;
}

.offer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0%;
  color: #ffffff;
}

.offer-subtitle {
  font-size: 30px;
  margin-bottom: -24px;
}

.offer-btn {
  padding: 8px 66px;
  border-radius: 50px;
  border: none;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #faab34;
  margin-top: 44px;
}

.offer-btn:hover {
  cursor: pointer;
}

.ingredients {
  padding-top: 64px;
  padding-bottom: 144px;

  background:
    url("../photos/homepage/ingredients-photo.png") no-repeat center,
    radial-gradient(circle, #68b370 0%, #069815 50%, #017e0d 100%);
  background-size:
    1019px 1136px,
    cover;
}

.ingredients-title {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100px;
  width: 838px;
  text-align: center;
  line-height: 92px;
  color: #ffffff;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ingredients-subtitle {
  font-size: 50px;
  font-weight: 700;
  color: #faab34;
}

.ingredients-list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
}

.ingredients-list{
  display: flex;
  flex-direction: column;
  gap: 157px;
}

.ingredients-item-title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

.ingredients-item-subtitle{
  color: #faab34;
}

.ingredient-item-text{
  font-family: "Roboto", sans-serif;
  width: 460px;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  line-height: 100%;
}

.our-menu{
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #F4F4F4;
}

.menu-title {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100px;
  width: 838px;
  text-align: center;
  line-height: 92px;
  color: #4D4D4D;
  margin-left: 50%;
  transform: translateX(-50%);
}

.menu-subtitle {
  font-size: 50px;
  font-weight: 700;
  color: #faab34;
}

.menu-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 360px;
}

.menu-list-item{
  height: 720px;  
}

.menu-item-shadow{
  width: 360px;          
  height: 0px;
  background-color: transparent;
  box-shadow: 0 0 44px 7px rgb(0, 0, 0);
  margin-bottom: 64px;
}

.menu-content-wrap{
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 4px #00000040;
  padding-bottom: 90px;
}

.menu-item-img{
  position: absolute;
  bottom: 300px;
}

.center-burger{
  left: 0px;
}

.menu-item-title{
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}

.menu-item-price{
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #C90000;
}

.menu-item-text{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  width: 360px;
}

.menu-item-btn{
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 400;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #017E0D;
  position: absolute;
  bottom: -40px;
  color: #ffffff;
}

.menu-item-btn:hover{
  cursor: pointer;
}