.header {
  background: radial-gradient(
    circle,
    #68b370 0%,
    #069815 50%,
    rgba(1, 126, 13, 1) 100%
  );
  padding-top: 50px;
  height: 840px;
}

.header-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 29px;
}

.header-nav-link {
  font-family: "Roboto", sans-serif;
  color: #c8bfbf;
  font-weight: 700;
  font-size: 28px;
}

.header-download-btn {
  font-family: "Roboto", sans-serif;
  color: #faab34;
  padding: 16px 36px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 30px;
}

.header-download-btn:hover {
  cursor: pointer;
}

.active {
  color: #ffffff;
}

.header-main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
}

.header-subtitle {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 80px;
  line-height: 108px;
}

.header-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 135px;
  line-height: 108px;
}
