.burgers {
  padding: 100px 0;
  background-color: #ffffff;
}

.burger-title {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100px;
  width: 838px;
  text-align: center;
  line-height: 92px;
  color: #4d4d4d;
  margin-left: 50%;
  transform: translateX(-50%);
}

.burger-subtitle {
  font-size: 50px;
  font-weight: 700;
  color: #faab34;
}

.burger-list {
  display: flex;
  flex-wrap: wrap;
  gap: 310px 91px;
  margin-top: 360px;
}

.burger-item-shadow {
  width: 360px;
  height: 0px;
  background-color: transparent;
  box-shadow: 0 0 44px 7px rgb(0, 0, 0);
  margin-bottom: 64px;
}

.burger-content-wrap {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 4px #00000040;
  padding-bottom: 90px;
}

.burger-item-img {
  position: absolute;
  bottom: 300px;
}

.center-burger {
  left: 0px;
}

.burger-item-title {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}

.burger-item-price {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #c90000;
}

.burger-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  width: 360px;
}

.burger-item-btn {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 400;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #017e0d;
  position: absolute;
  bottom: -40px;
  color: #ffffff;
}

.burger-item-btn:hover {
  cursor: pointer;
}

.sides {
  padding: 100px 0;
  background-color: #f4f4f4;
}

.sides-title {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100px;
  width: 838px;
  text-align: center;
  line-height: 92px;
  color: #4d4d4d;
  margin-left: 50%;
  transform: translateX(-50%);
}

.sides-subtitle {
  font-size: 50px;
  font-weight: 700;
  color: #faab34;
}

.sides-list {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sides-item {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-top: 3px dashed #979797;
}

.sides-item:nth-child(5),
.sides-item:nth-child(6) {
  border-bottom: 3px dashed #979797;
}

.sides-photo {
  margin-right: 18px;
}

.sides-content {
  margin-right: 48px;
}

.sides-name {
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  width: 360px;
}

.sides-description {
  color: #414141;
  font-weight: 400;
  font-size: 24px;
}

.sides-price{
    
    position: relative;
    left: 0;
color: #C90000;
font-weight: 700;
font-size: 34px;
}

.offers-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  min-height: 1370px;
}

.offer-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding-bottom: 60px;
  padding-left: 30px;
}

.offer-card-first {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../photos/menu/offers-bg-one.png) center / cover no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.offer-card-second {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../photos/menu/offers-bg-two.png) center / cover no-repeat;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 86px;
}

.offer-card-third {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../photos/menu/offers-bg-three.png) center / cover no-repeat;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.offer-bage {
  position: absolute;
  top: -40px;
  left: 40px;
  width: 218px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #69bf75;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 71px;
}

.offer-card-first .offer-bage {
  background-color: #ffffff;
  color: #000;
}

.offer-card-second .offer-bage {
  background-color: #faab34;
  color: #ffffff;
}

.offer-card-third .offer-bage {
  background-color: #017e0d;
  color: #ffffff;
}

.offer-text {
  font-size: 72px;
  line-height: 1;
}

.offer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0%;
  color: #ffffff;
}

.offer-subtitle {
  font-size: 30px;
  margin-bottom: -24px;
}

.offer-btn {
  padding: 8px 66px;
  border-radius: 50px;
  border: none;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #faab34;
  margin-top: 44px;
}

.offer-btn:hover {
  cursor: pointer;
}

.desserts {
  padding: 100px 0;
  background-color: #f4f4f4;
}

.desserts-title {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100px;
  width: 838px;
  text-align: center;
  line-height: 92px;
  color: #4d4d4d;
  margin-left: 50%;
  transform: translateX(-50%);
}

.desserts-subtitle {
  font-size: 50px;
  font-weight: 700;
  color: #faab34;
}

.desserts-list {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.desserts-item {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-top: 3px dashed #979797;
}

.desserts-item:nth-child(5),
.desserts-item:nth-child(6) {
  border-bottom: 3px dashed #979797;
}

.desserts-photo {
  margin-right: 18px;
}

.desserts-content {
  margin-right: 48px;
}

.desserts-name {
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  width: 360px;
}

.desserts-description {
  color: #414141;
  font-weight: 400;
  font-size: 24px;
}

.desserts-price {
  position: relative;
  left: 0;
  color: #C90000;
  font-weight: 700;
  font-size: 34px;
}

.discount {
  padding: 160px 0 280px 0;
  background: radial-gradient(
    circle,
    #68b370 0%,
    #069815 50%,
    rgba(1, 126, 13, 1) 100%
  );
}

.discount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-content-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount-title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 92px;
  line-height: 100%;
  text-align: right;
  color: #ffffff;
  margin-bottom: 16px;
}

.discount-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  width: 740px;
  margin-bottom: 100px;
}

.discount-link-wrap{
  display: flex;
  gap: 30px;
}